@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

body {
  max-width: 100%;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.tremor-CategoryBar-labels {
  color: white !important;
}

.tremor-CategoryBar-marker {
  background: white !important;
}
